<h1 class="row h-100 justify-content-center">{{ this.title }}</h1>
<br /><br />
<app-searchbar
  (searchTextChanged)="onSearchTextChanged($event)"
></app-searchbar>

<div
  class="container my-5 row-100 justify-content-center text-align-center table table-bordered"
>
  <h3>Calling Api</h3>
  <table class="table" border="2">
    <tr>
      <th>ID</th>
      <th>Gender</th>
      <th>City</th>
    </tr>

    <tr *ngFor="let user of user.usersArray">
      <span
        *ngIf="
          searchText === '' ||
          user.gender.toLowerCase().includes(searchText) ||
          user.city.toLowerCase().includes(searchText) ||
          user.patient_id.toLowerCase().includes(searchText)
        "
      >
        <td>{{ user.patient_id }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.city }}</td>
      </span>
    </tr>
  </table>

  <!-- <ul>
    <li *ngFor="let item of user.usersArray">
 {{item.city}}
</li>
</ul> -->
</div>
